.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

a.clickable-card {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.rounded-card {
  border-radius: 1rem;

  .rounded-card-img, .rounded-card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px); 
  }
}