@import '../../scss/colors.scss';

.icon-link {
  color: inherit;

  &:hover {
    color: none;
  }
}

.icon {
  &:hover {
    animation: pulse 1s;
  }

  &.behance {
    color: $behance;
  }

  &.deviantart {
    color: $deviantart;
  }

  &.discord {
    color: $discord;
  }

  &.etsy {
    color: $etsy;
  }

  &.facebook {
    color: $facebook;
  }

  &.furaffinity {
    color: $furaffinity;
  }

  &.github {
    color: $github;
  }

  &.instagram {
    color: $instagram;
  }

  &.picarto {
    color: $picarto;
  }

  &.pinterest {
    color: $pinterest;
  }

  &.steam {
    color: $steam;
  }

  &.telegram {
    color: $telegram;
  }

  &.tumblr {
    color: $tumblr;
  }

  &.twitch {
    color: $twitch;
  }

  &.twitter {
    color: $twitter;
  }

  &.youtube {
    color: $youtube;
  }
}