// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
//
// Color system
//
@import './colors.scss';

// Reassign color vars to semantic color scheme
$theme-colors: (
  primary: $steel-gray-500,
  secondary: $pleasant-purple-500,
  success: $park-green-500,
  info: $river-teal-500,
  warning: $sunshine-yellow-500,
  danger: $magical-magenta-500,
  light: $steel-gray-100,
  dark: $steel-gray-800,
) !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: false !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $steel-gray-700 !default;
$inverse-bg: $steel-gray-900 !default;
$inverse-color: $steel-gray-600 !default;

// Links
//
// Style anchor elements.
$link-decoration: none !default;
$link-hover-decoration: none !default;

// Fonts
//
@import './fonts.scss';

@import 'node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
  height: 100%;
  width: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}


img {
  margin: 0;
  max-width: 100%;
}

/*
html {
  font-size: 1rem;
}

@include media-breakpoint-down(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-down(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-down(lg) {
  html {
    font-size: 1.6rem;
  }
}
*/